img {
  width: 120px;
  height: 80px;
  margin-bottom: 10px;
}
.destaques {
  grid-column: 4 / 5;
  grid-row: 2 / 4;
  background-color: brown;
  display: flex;
  flex-direction: column;
  height: 100%;

  padding: 20px;
}
.imagens {
  display: flex;
  flex-direction: column;
}

.imagens img {
  margin: 12px;
}

@media (max-width: 500px) {
  .destaques {
      grid-column: 2 / 4;
      grid-row: 6 / 8;
      background-color: #444;
  }

}
