.menu {
  grid-column: 1 / 1;
  grid-row: 2 / 4;
  grid-row-start: 2;
  font-family: "Vina Sans", sans-serif;
  background-color: aqua;
  height: 100%;
  padding: 20px;

}

@media (max-width: 500px) {
  .menu {
      background-color: #444;
      grid-column: 2 / 4;
      grid-row: 2 / 4;
  }

}
