/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vina+sans-serif&display=swap');

body {
  margin: 0;
  /* font-family: Arial, sans-serif; */
  font-size: 100%;
}
img{
  width: 120px;
  height: 80px;
}

.container {
  display: grid;
  grid-template-rows: 10% 1fr 1fr 10%;
  grid-template-columns: 1fr 1fr 20%;
  gap: 10px;
  height: 100vh;
  width: 97%;
  margin: 12px;
}

.item01 {
  display: flex;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-area: 1/1/1/4;

  background-color: blue;
}
.item02{
  background-color: aqua;
  /* padding: 8px; */

}
.lista-menu{
  display: flex;
  height: 50px;
  padding-left: 8px;
  align-items: end;
  border-bottom: 2px solid black;
}

.item03{
  background-color: chocolate;
  /* font-size: 100%; */
  padding-bottom: 16px;
}
p ,a{
  padding: 8px;

}
p{
  font-family: 'Vina Sans', sans-serif;
}
a{
  margin: 20px;
  font-family: 'Roboto', sans-serif;
}

.item04{
  background-color: brown;
  display: flex;
  flex-direction: column;
}
.imagens{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

.imagens img{
  margin: 12px;
}

.item05{
  background-color: darkorchid;
}

.item06{
  grid-area: 3/2/3/4;
  background-color: chartreuse;
}

.item08 {
  display: flex;
  grid-area: 4/1/4/4;
  text-align: center;
  align-items: center;
  justify-content: center;

  position: sticky;
  /* bottom: 0; */

  background-color: crimson;
}

@media screen and (max-width: 700px) {
  .container{
      display: flex;
      flex-direction: column;
      width: 93%;
      font-size: small;
  }

  .imagens{
      flex-direction: row;
  }
  .lista-menu{
      height: 30px;
  }
  .imagens, .livros{
      display: flex;
      justify-content: center;

  }
  .livros02{
      display: none;
  }

}
