.resultados {
  grid-column: 3 / 5;
  grid-row: 4 / 5;
  background-color: chartreuse;
  padding: 20px;
  height: 100%;
  width: 200%;
}

@media (max-width: 500px) {
  .resultados {
    background-color: #444;
    grid-column: 2 / 4;
    grid-row: 10 / 12;
  }
}
