
.servicos {
  background-color: darkorchid;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  height: 100%;
  padding: 20px;
}

@media (max-width: 500px) {
  .servicos {
    background-color: #444;
    grid-column: 2 / 4;
    grid-row: 8 / 10;
  }
}
